name: googleAuth CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 20.x]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Clear npm cache
      run: npm cache clean --force

    - name: Install dependencies
      run: npm ci
      working-directory: ./server

    - name: Build
      run: npm run build --if-present
      working-directory: ./server

    - name: Run test-dk
      run: npm run test-dk
      working-directory: ./server
